
<!DOCTYPE html>
<html>

<head>
    <link href="/static/index.css" rel="stylesheet">
    <h1 class="main_title">KLASIFIKASI DAUN HERBAL</h1>
</head>

<body>
    <nav class="navbarr">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a  href="/ann">ANN</a>
            </li>
            <li class="navbar_list">
                <a href="/cnn">CNN</a>
            </li>
            <li class="navbar_list">
                <a href="#">About</a>
            </li class="navbar_list">
        </ul>
    </nav>

    <!-- ISI -->

</body>

</html>