<!DOCTYPE html>
<html>

<head>
    <title>Herbal Leaves Classification App</title>
    <link href="/static/index.css" rel="stylesheet">
    <h1 class="main_title"><a href="/" style="text-decoration: none; color:white;">KLASIFIKASI DAUN HERBAL</a></h1>
</head>

<body>
    <nav class="navbarr">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/ann">ANN</a>
            </li>
            <li class="navbar_list">
                <a href="/cnn">CNN</a>
            </li>
            <li class="navbar_list">
                <a href="#">About</a>
            </li>
        </ul>
    </nav>

    <!-- ISI -->

</body>

</html>